<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
</head>
<body>
  
  <div class="row">
    <div class="col-md-4">
      <h1> Add Server</h1>
      <form {ngSubmit}="addServer()">
        <div class="form-group">
          <label for="exampleForControlInput1">None</label>
          <input [{ngModel}]="Server.name" name="name" type="text">
        </div>
        <button (click)="fn()" type="submit" class="btn btn-primary w-100" >add</button>
      </form>
    </div>
  </div>
  <!-- <div>
    <ul>
      <li *ngFor = "let item of Servers">
        {{item.id}}
        {{item.name}}
        {{item.active}}
      </li>
    </ul>
  </div> -->
</body>
</html>>